.teaser-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 50px 0px;
}

.teaser-list a {
    margin: 0 1.5em;
    position: relative;
}

.teaser-list .teaser-card {
    padding: 1em;
    border-bottom: 1px solid #e7e2da;
}

.teaser-list .teaser-card:last-child,
.teaser-list .teaser-card:nth-last-of-type(-n+2):not(:nth-child(even)) {
    border-bottom: unset;
}