
header {
  background-color: var(--background-color-bone);
  border-bottom: 1.5px solid #e6e6e6;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  z-index: 99999;
  padding: 37px 0 0;
  height: 93px;
}

header nav {
  display: none;
}
