
footer {
  --footer-font-color: #fff;
  
  background-color: #202020;
}

footer .footer {
  max-width: 70rem;
  max-height: 36.75rem;
  margin: 0 auto;
  font-size: var(--body-font-size-s);
}

footer .footer-links>div{
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: 0.1px solid  #636161;
}

footer .footer > div > div {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

footer .footer-links > div > div{
  width: 13.7875rem;
  margin-right: 1.625rem;
}

footer .footer-links > div > div:first-of-type{
  width: 17.5rem;
  margin-right: 1.625rem;
}

footer .footer-links >div >div:last-of-type{
  width: 6.825rem;
}

footer .footer-links > div > div> h4{
  color: #8B8883;
  font-size: 18px;
  font-family: "Alliance Light",sans-serif;
  margin-bottom: 24px;
  font-weight: 300;
}

footer .footer-links .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
}

footer .footer-links .icon:hover{
  background: linear-gradient(270deg, rgb(250 30 50), rgb(153 0 255));
}

footer .footer-links .icon-footer-logo {
  border-radius: 0%;
  background-color: #202020;
  font-family: "Source Serif4 Regular", sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer-links .icon-footer-logo > svg{
  height: 56px;
  width: 158.06px;
}

footer .footer-links .icon-email > svg{
  margin: 0.48rem auto;
}

footer .footer-links .icon-linkedin > svg{
  margin: 0.4rem auto;
  width: 20px;
  height: 20px;
}

footer .footer-links .icon-twitter{
  margin-left: 21px;
}

footer .footer-links .icon-twitter > svg{
  margin: 0.5rem auto;
  width: 20px;
  height: 20px;
}

footer .footer-links .icon:hover svg{
  filter: invert(100%);
}

footer .footer-links .icon-footer-logo:hover {
  background: none;
}

footer .footer-links .icon-footer-logo:hover svg{
  filter: none;
}

/* styles for the lower section links */
footer .footer-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-links ul li{
  margin-bottom: 1.875rem;
}

footer .footer-links ul li a{
  color: var(--footer-font-color);
  font-family: "Alliance Regular", sans-serif;
  font-size: 14px;
}

footer .footer-links+ul{
  list-style: none;
  display: flex;
  padding-top: 1rem;
  padding-left: 0;
  justify-content: space-between;
}

footer .footer-links+ul li{
  color:var(--footer-font-color);
  font-size: 16px;
}

footer .footer-links+ul>li:first-of-type{
  font-weight: 400;
  width: 480px;
}

footer .footer-links+ul>li a{
  color:var(--footer-font-color);
}

/* end styles for lower section */