/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --text-color: #20201f;
  --link-color: #00e;
  --link-hover-color: #00e;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --background-color-bone: #faf8f6;

  /* fonts */
  --heading-font-family: "Source Serif4 Light", sans-serif;
  --body-font-family: "Alliance Light", sans-serif; 
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace; 

  /* body sizes */
  --body-font-size-xl: 21px;
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12.992px;

  /* sizes */
  --heading-font-size-xxl: 64px;
  --heading-font-size-xl: 45px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 16px;

}

/* User Agent Stylesheet Reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html *, html :before, html :after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  --minimum-supported-XS: 375px;
  --minimum-supported-S: 480px;
  --minimum-supported-M: 768px;
  --minimum-supported-L: 992px;
  --minimum-supported-XL: 1200px;
  --XL: clamp(0, calc(999900vw - var(--minimum-supported-XL) * 9999), 1px);
  --L: clamp(0, calc(999900vw - var(--minimum-supported-L) * 9999), 1px);
  --M: clamp(0, calc(999900vw - var(--minimum-supported-M) * 9999), 1px);
  --S: clamp(0, calc(999900vw - var(--minimum-supported-S) * 9999), 1px);
  --XS: clamp(0, calc(999900vw - var(--minimum-supported-XS) * 9999), 1px);
}

body.appear {
  display: unset;
}


h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

h1, h2 {
  line-height: 120%;
}


main {
  background-color: var(--background-color-bone);
  padding: 130px 0 0;
}

button {
  font: inherit;
  text-transform: none;
  overflow: visible;
  margin: 0;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section-top-grid > div > div:nth-child(odd) img{
  border-radius :90% 0 0;
}

main .section-top-grid > div > div:nth-child(even) img{
  border-radius :0 90% 0 0;
}

main .cmp-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 62px;
  padding: 25px;
  width: 240px
}

main .cmp-button__text {
  font-family: "Alliance Medium";
  font-size: 16px;
  letter-spacing: .16px;
  line-height: 120%;
  color: #ffffff;
  text-align: left;
}

main .cmp-button__icon {
  background: url(../icons/arrow-white.svg) no-repeat transparent;
  background-size: contain;
  height: 22px;
  width: 22px
}

main .cmp-button__icon--play {
  background-image: url(../icons/play-button.svg)
}

main .cmp-button--play .cmp-button {
  background-color: #90f;
  border-radius: 50%;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 124px;
  max-height: unset;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 124px
}

main .cmp-button--play .cmp-button, .cmp-button--play .cmp-button__details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

main .cmp-button--play .cmp-button__details {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

main .cmp-button--play .cmp-button__details .cmp-button__text {
  font-family: "Alliance Medium";
  font-size: 16px;
  letter-spacing: .16px;
  line-height: 120%;
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: -1px
}

main .cmp-button--play .cmp-button__icon {
  height: 23px;
  position: relative;
  top: 5px;
  width: 15px
}

main .cmp-button--play .cmp-button:active,
main .cmp-button--play .cmp-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa1e32), to(#90f));
  background-image: linear-gradient(180deg, #fa1e32, #90f)
}

main .cmp-button--play-primary .cmp-button {
  background-color: #20201f;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 66px;
  max-height: unset;
  opacity: .8;
  padding-right: 0
}

main .cmp-button--play-primary .cmp-button__details {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

main .cmp-button--play-primary .cmp-button__details .cmp-button__duration {
  font-family: Alliance Light;
  font-size: 12px;
  letter-spacing: .16px;
  line-height: 160%;
  color: #fff;
  font-weight: 300
}

main .cmp-button--play-primary .cmp-button__icon {
  background-color: #90f;
  background-position: 55% 50%;
  background-size: 14px;
  border-radius: 50%;
  height: 66px;
  width: 66px
}

main .cmp-button--play-primary .cmp-button:active .cmp-button__icon,
main .cmp-button--play-primary .cmp-button:hover .cmp-button__icon {
  background: url(../icons/play-button.svg) no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fa1e32), to(#90f));
  background: url(../icons/play-button.svg) no-repeat, linear-gradient(180deg, #fa1e32, #90f);
  background-position: 55% 50%
}

main .cmp-button--pause .cmp-button {
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 67px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 67.73px;
}

main .cmp-button--pause .cmp-button:active,
main .cmp-button--pause .cmp-button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#fa1e32), to(#90f));
  background-image: linear-gradient(270deg, #fa1e32, #90f);
  border: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

main .cmp-button--pause .cmp-button__icon--arrow {
  background-image: url(../icons/pause.svg);
  background-repeat: space;
  background-size: 35%;
  height: 19.17px;
  width: 13px;
}

main .cmp-button--playbtn .cmp-button {
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 67px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 67px !important;
  padding: 0;
  width: 67.73px;
}

main .cmp-button--playbtn .cmp-button:active,
main .cmp-button--playbtn .cmp-button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#fa1e32), to(#90f));
  background-image: linear-gradient(270deg, #fa1e32, #90f);
  border: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

main .cmp-button--playbtn .cmp-button__icon--arrow {
  background-image: url(../icons/play-button.svg);
  background-repeat: space;
  height: 23px;
  margin-left: 5px;
  width: 15px;
}

main .cmp-button--purple .cmp-button {
  background-color: #ebccff
}

main .cmp-button--purple .cmp-button .cmp-button__duration,
main .cmp-button--purple .cmp-button .cmp-button__text {
  color: #000
}
